@import "tailwindcss";

::-webkit-scrollbar{
    display: none;
}
/* Hide the date text until user picks a value */
input[type="date"]::-webkit-datetime-edit {
  color: transparent; /* hides dd-mm-yyyy */
}

/* Show selected date once user picks */
input[type="date"]:focus::-webkit-datetime-edit,
input[type="date"]:valid::-webkit-datetime-edit {
  color: #111;  /* change to your font color */
}

input[type="number"]::-webkit-inner-spin-button{
display: none;
}



@theme { 
    --color-main-back:#efefef;
    --color-main-front:#fff;
    --color-main-font:#111;
     --text-tiny:clamp(1.1rem,2vw,3rem);

     --animate-bgblur: bgblur 1s ease-in-out forwards ;
     --animate-inputShow: inputShow 1s ease-in-out forwards ;

    @keyframes bgblur {
        0%{
            backdrop-filter:blur(0px)
        }100%{
            backdrop-filter:blur(5px)
        }
    }

        @keyframes inputShow {
        0%{
          opacity: 0;
        }100%{
            opacity: 1;
        }
    }
}


#root{
    height: 100vh;
    width: 100vw;
}